.two-buttons{
    display: flex;
    gap: 10px;
    flex-shrink: 0;
}

.single-product {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
}
  
.product-info {
    flex-grow: 1;
    display: flex;
    gap: 30px;
}

.product-name {
    flex-grow: 1;
}

.product-quantity {
    width: 40px;
    text-align: right;
}

.product-total-price {
    width: 40px;
    text-align: right;
}

.list{
    padding: 0;
    padding-right: 10px;
    border-right: 2px solid rgb(163, 163, 163);
}

  